<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Nice3point.Revit.Api.RevitAPI" version="2023.1.80" targetFramework="net48" />
  <package id="Nice3point.Revit.Api.RevitAPIUI" version="2023.1.80" targetFramework="net48" />
  <package id="Nice3point.Revit.Toolkit" version="2023.3.0" targetFramework="net48" />
</packages>