<?xml version="1.0" encoding="utf-8"?>
<!--www.rtvtools.com -->
<!--Created at 1/11/2016 11:48:45 AM-->
<Batch>
  <RevitModel>
    <Filename>X:\Design Library\Project Resources\Landscape\Detail Library\Revit Details\ACCESSIBLE CURB RAMP SECTION.rvt</Filename>
    <ArchiveCentralFile>False</ArchiveCentralFile>
    <ArchiveCentralFileOverwrite>False</ArchiveCentralFileOverwrite>
    <ArchiveCentralFileName />
    <SynchronizeWithCentral>False</SynchronizeWithCentral>
    <NewLocalCopy>False</NewLocalCopy>
    <LocalCopyOverwriteTimestamp />
    <LocalCopyFolder />
    <DateDelim />
    <DateFormat />
    <ReplaceInvalidChar>False</ReplaceInvalidChar>
    <ReplacementChar />
    <DetachFromCentral>False</DetachFromCentral>
    <DiscardWorkSet />
    <WorksetMode />
    <ParameterMode>3</ParameterMode>
  </RevitModel>
  <Views>
    <View>
      <GUID>d6474073-4c99-4156-8e41-18ef5dc79918-00000759</GUID>
      <ViewType>Drafting Views</ViewType>
      <ViewName>ACCESSIBLE CURB RAMP SECTION</ViewName>
    </View>
  </Views>
  <ViewCfgs>
    <ViewCfg>
      <CfgName>Configuration Detail PDF.xml</CfgName>
      <CfgFullName>\\group\hok\LA\PROJECTS\2014\14.24023.00 ARE Illumina Campus\E-BIM\Software\RTV Xporter\Configuration Detail PDF.xml</CfgFullName>
      <CfgType>PDF</CfgType>
    </ViewCfg>
  </ViewCfgs>
</Batch>