<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommunityToolkit.Mvvm" version="8.2.2" targetFramework="net48" />
  <package id="Extended.Wpf.Toolkit" version="4.7.25103.5738" targetFramework="net48" />
  <package id="JetBrains.Annotations" version="2023.3.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="Nice3point.Revit.Api.RevitAPI" version="2024.3.10" targetFramework="net48" />
  <package id="Nice3point.Revit.Api.RevitAPIUI" version="2024.3.10" targetFramework="net48" />
  <package id="Nice3point.Revit.Extensions" version="2023.3.0" targetFramework="net48" />
  <package id="Nice3point.Revit.Toolkit" version="2023.2.3" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.0" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.6.0" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
</packages>