<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HOK.DoorMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <HOK.DoorMonitor.Properties.Settings>
            <setting name="StateNames" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>AL</string>
                        <string>AK</string>
                        <string>AZ</string>
                        <string>AR</string>
                        <string>CA</string>
                        <string>CO</string>
                        <string>CT</string>
                        <string>DE</string>
                        <string>FL</string>
                        <string>GA</string>
                        <string>HI</string>
                        <string>ID</string>
                        <string>IL</string>
                        <string>IN</string>
                        <string>IA</string>
                        <string>KS</string>
                        <string>KY</string>
                        <string>LA</string>
                        <string>ME</string>
                        <string>MD</string>
                        <string>MA</string>
                        <string>MI</string>
                        <string>MN</string>
                        <string>MS</string>
                        <string>MO</string>
                        <string>MT</string>
                        <string>NE</string>
                        <string>NV</string>
                        <string>NH</string>
                        <string>NJ</string>
                        <string>NM</string>
                        <string>NY</string>
                        <string>NC</string>
                        <string>ND</string>
                        <string>OH</string>
                        <string>OK</string>
                        <string>OR</string>
                        <string>PA</string>
                        <string>RI</string>
                        <string>SC</string>
                        <string>SD</string>
                        <string>TN</string>
                        <string>TX</string>
                        <string>UT</string>
                        <string>VT</string>
                        <string>VA</string>
                        <string>WA</string>
                        <string>WV</string>
                        <string>WI</string>
                        <string>WY</string>
                    </ArrayOfString>
                </value>
            </setting>
        </HOK.DoorMonitor.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
