<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SolibriBatchSetup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <SolibriBatchSetup.Properties.Settings>
            <setting name="SolibriVersionNumber" serializeAs="String">
                <value>Solibri Model Checker v9.6</value>
            </setting>
            <setting name="DirectoryName" serializeAs="String">
                <value>\\NY-BAT-D001\SolibriBatch</value>
            </setting>
            <setting name="SolibriSaveInPlace" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SolibriOutputFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="SolibriAppendDate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BCFSaveInPlace" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BCFOutputFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="BCFAppendDate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SolibriExe" serializeAs="String">
                <value>C:\Program Files\Solibri\SMCv9.6\Solibri Model Checker v9.6.exe</value>
            </setting>
            <setting name="ComputerName" serializeAs="String">
                <value>NY-BAT-D001</value>
            </setting>
            <setting name="ComputerLocation" serializeAs="String">
                <value>NY</value>
            </setting>
        </SolibriBatchSetup.Properties.Settings>
    </userSettings>
</configuration>